
.container-card2{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.card-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.center-text h5{
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	/* margin-bottom: 20px; */
}
.center-text h2{
	font-size: 2.2rem;
	line-height: 1.2;
}

.card{
    border: 2px solid #03989E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 327px;
    height: 323px;
    gap: 15px;
    transition: all .40s ease;
}

.card:hover{
    transform: translateY(-15px);
}

.card img{
    width: 80px;
    height: 80px;
}

.card h3{
    font-size: 30px;
}

.card p{
    position: relative;
    display: flex;
    /* border: 1px solid red; */
    top: 30px;
    color: #7A7780;
    font-size: 18px;
    font-weight: 500;
}

.main-btn button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #03989E;
    color: #fff;
    font-size: 22px;
}
.main-btn button:hover{
    background-color: #015a5e;
}

.btn{
	display: inline-block;
	font-size: var(--p-font);
	font-weight: 700;
	background: var(--main-color);
	color: var(--bg-color);
	border-radius: 30px;
	transition: all .40s ease;
}
.btn:hover{
	transform: scale(0.9) translateY(-5px);
}