.home{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	padding: 10px 90px;
	background-image: url(../icons/Degradado.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}




.home-img{
	position: relative;
	/* border: 2px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* right: -50px; */

}


.home-img img{
	width: 460px;
}



.content-home{
	display: flex;
}

.home-text h1{
	font-size: 3.0rem;
	margin: 15px 0 15px;
}
.home-text h6{
	color: var(--main-color);
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
}
.home-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 500;
	margin-bottom: 48px;
}
.latter form{
	width: 100%;
	max-width: 460px;
	position: relative;
}
.latter form input:first-child{
	display: inline-block;
	width: 100%;
	outline: none;
	padding: 16px 140px 16px 15px;
	border: 2px solid var(--main-color);
	border-radius: 30px;
}
.latter form input:last-child{
	position: absolute;
	display: inline-block;
	border: none;
	outline: none;
	background: var(--main-color);
	color: var(--bg-color);
	padding: 16px 40px;
	border-radius: 30px;
	cursor: pointer;
	top: 0;
	right: 1px;
	width: 150px;
}
/* .home-img img{
	height: auto;
	width: 100%;
} */
@media (max-width: 476px){
	.home{
		padding: 10px 0;
		height: auto ;
	}

}
